.inputFormContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.inputFormContainer textarea {
  width: 100%;
  flex: 1;
}
